@import 'tailwindcss';
@plugin '@midudev/tailwind-animations';

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/fonts/barlow-condensed/barlow-condensed-latin-400-normal.woff2')
      format('woff2'),
    url('/fonts/barlow-condensed/barlow-condensed-latin-400-normal.woff')
      format('woff');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('/fonts/barlow-condensed/barlow-condensed-latin-700-normal.woff2')
      format('woff2'),
    url('/fonts/barlow-condensed/barlow-condensed-latin-700-normal.woff')
      format('woff');
}

@theme {
  /* Fonts */
  --font-barlow: 'Barlow Condensed', sans-serif;
  --font-inter: 'Inter', sans-serif;

  /* Colors */
  --color-primary: #005baa;
  --color-primary-dark: #004887;
  --color-primary-light: #2e9dff;
  --color-primary-lighter: #9dc0e0;

  --color-secondary: #9fa3a6;
  --color-secondary-dark: #63686c;

  --color-dark: #0f0f0f;
  --color-light: #f5f5f5;

  --color-accent: #3b82f6;
  --color-muted: #c2cadf;
  --color-muted-blue: #edf2f7;
  --color-foreground: #2a2b2b;

  /* Gradients */
  --gradient-primary: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-lighter)
  );

  --gradient-accent: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-light)
  );

  /* Shadows */
  --shadow-glow: 0 0 20px rgb(3 92 178 / 0.5);
}

@utility text-gradient-primary {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@utility text-gradient-accent {
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@utility btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
  }
}

@utility btn-primary {
  background-color: var(--color-primary);
  color: white;

  &:hover {
    background-color: var(--color-primary-dark);
    box-shadow: var(--shadow-glow);
  }
}

@utility btn-secondary {
  background-color: rgb(255 255 255 / 0.1);
  color: var(--color-primary);
  border-color: var(--color-primary);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  &:hover {
    background-color: rgb(255 255 255 / 0.2);
    box-shadow: var(--shadow-glow);
  }
}

@utility btn-lg {
  padding: 16px 32px;
}

@utility btn-base {
  padding: 12px 24px;
  font-size: 16px;
}

@utility btn-sm {
  padding: 8px 16px;
  font-size: 14px;
}
