@import 'tailwindcss';
@import '@fontsource-variable/inter';

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/fonts/barlow-condensed/barlow-condensed-latin-400-normal.woff2')
      format('woff2'),
    url('/fonts/barlow-condensed/barlow-condensed-latin-400-normal.woff')
      format('woff');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('/fonts/barlow-condensed/barlow-condensed-latin-700-normal.woff2')
      format('woff2'),
    url('/fonts/barlow-condensed/barlow-condensed-latin-700-normal.woff')
      format('woff');
}

@theme {
  /* Fonts */
  --font-barlow: 'Barlow Condensed', sans-serif;
  --font-inter: 'Inter', sans-serif;

  /* Colors */
  --color-primary: oklch(47.202% 0.14606 253.11);
  --color-primary-dark: oklch(40.109% 0.12218 252.6);
  --color-primary-light: oklch(68.313% 0.17366 250.12);
  --color-primary-lighter: oklch(76.914% 0.11039 247.93);

  --color-secondary: oklch(71.314% 0.00633 239.86);
  --color-secondary-light: oklch(86.404% 0.0046 214.33);
  --color-secondary-lighter: oklch(96.743% 0.00133 286.37);
  --color-secondary-dark: oklch(62.051% 0.00845 241.74);
  --color-secondary-darker: oklch(52.445% 0.00777 233.76);

  --color-dark: oklch(16.842% 0 none);
  --color-light: oklch(97.015% 0 none);

  --color-accent: oklch(62.308% 0.18801 259.81);
  --color-muted: oklch(83.936% 0.03058 269.08);
  --color-muted-blue: oklch(95.88% 0.00859 247.92);
  --color-foreground: oklch(28.806% 0.00144 197.08);

  /* Gradients */
  --gradient-primary: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-lighter)
  );

  --gradient-accent: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-light)
  );

  --gradient-secondary: linear-gradient(
    to right,
    var(--color-secondary-light),
    var(--color-secondary-lighter),
    var(--color-secondary-light)
  );

  /* Shadows */
  --shadow-glow: 0 0 20px rgb(3 92 178 / 0.5);
}

/* Gradients utilities */

@utility text-gradient-primary {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@utility text-gradient-accent {
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@utility bg-gradient-secondary {
  background: var(--gradient-secondary);
}

@utility btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
  }
}

@utility btn-primary {
  background-color: var(--color-primary);
  color: white;

  &:hover {
    background-color: var(--color-primary-dark);
    box-shadow: var(--shadow-glow);
  }
}

@utility btn-secondary {
  background-color: rgb(255 255 255 / 0.1);
  color: var(--color-primary);
  border-color: var(--color-primary);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  &:hover {
    background-color: rgb(255 255 255 / 0.2);
    box-shadow: var(--shadow-glow);
  }
}

@utility btn-lg {
  padding: 16px 32px;
}

@utility btn-base {
  padding: 12px 24px;
  font-size: 16px;
}

@utility btn-sm {
  padding: 8px 16px;
  font-size: 14px;
}

@utility first-section {
  padding-top: 16dvh;

  @media screen and (width >= 1024px) {
    padding-top: 20dvh;
  }

  @media screen and (width >= 1280px) {
    padding-top: 24dvh;
  }
}
